.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }

  nav{
    width: 1480px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 160px;
  }

  .nav-title{
    font-weight: bold;
    font-size: 32px;
  }

  .sign-btn{
    background-color: white;
    font-weight:600px;
    font-size: 18px;
    color: #006A50;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    border-color:#006A50;
  }

  /* banner styles */

  .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 560px;
    background-color: rgb(198, 228, 214);
    margin: 20px 160px 80px 160px;
    padding: 80px 100px;
    border-radius: 24px;
  }
  .banner-greetings{
    font-size: 24px;
    font-weight:500px;
    color: #0E0E0E;
    opacity: 50%;
  }
  
  .banner-title{
    width: 622px;
    height: 201px;
    font-weight: bold;
    text-align: left;
    font-size: 56px;
    color:#0E0E0E;
  }

  .banner-pp{
    width: 474px;
    height: 400px;

  }
  .primary-btn{
    background-color: #006A50;
    font-weight: 600px;
    font-size: 18px;
    color: white;
    border: none;
    padding: 17px 34px;
    border-radius: 5px;
}

