body{
  margin: 0 auto;
  background-color: rgb(245, 245, 245);
}
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  .nav-info{
    width: 1480px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 160px;
  }

  .nav-title{
    font-weight: bold;
    font-size: 32px;
  }

  .sign-btn{
    background-color: white;
    font-weight:600px;
    font-size: 18px;
    color: #006A50;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    border-color:#006A50;
  }

  /* banner styles */

  .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    height: 560px;
    background-color: rgb(198, 228, 214);
    margin: 20px 160px 80px 160px;
    padding: 80px 100px;
    border-radius: 24px;
  }
  .banner-greetings{
    font-size: 24px;
    font-weight:500px;
    color: #0E0E0E;
    opacity: 50%;
  }
  
  .banner-title{
    width: 622px;
    height: 201px;
    font-weight: bold;
    text-align: left;
    font-size: 56px;
    color:#0E0E0E;
  }

  .banner-pp{
    width: 474px;
    height: 400px;

  }
  .primary-btn{
    background-color: #006A50;
    font-weight: 600px;
    font-size: 18px;
    color: white;
    border: none;
    cursor: pointer;
    padding: 17px 34px;
    border-radius: 5px;
}
/* main section */
.main-section{
    gap: 80px;
    width: 1480px;
    height: 690px;
    margin: 80px 160px;
}
.main-title{
    
  font-weight: 700;
    font-size: 40px;
    color: rgb(14, 14, 14);
}

.cards{
  gap: 32px;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-section p{
  margin-bottom: 24px;  
  font-size: 16px;
    font-weight: 400px;
    color: rgba(14, 14, 14, 0.7);
}
.cards h3{
    font-size: 20px;
}
.card-1{
    display: flex;  
    border-radius: 16px;
    background-color: rgba(84, 144, 245, 0.2);
    padding: 32px 32px;
    justify-content: center;
    align-items: center;
    width: 410px;
    height: 325px;
}
.card-2{
  display: flex;    
  border-radius: 16px;
    background-color:rgb(198, 228, 214);
    padding: 32px 32px;
    justify-content: center;
    align-items: center;
    width: 410px;
    height: 325px;
}

.card-3{
  display: flex;    
  border-radius: 16px;
    background-color:rgb(247, 235, 207);
    padding: 32px 32px;
    justify-content: center;
    align-items: center;
    width: 410px;
    height: 325px;
}

 .cards title{
  font-size:20px;
  font-weight: 700px;
  color: rgba(14, 14, 14, 0.8);

}
.learn-btn1{
  padding: 11px 20px 11px 20px;
  background-color: rgb(84, 144, 245);
  border: none;
  cursor: pointer;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600px;
}

.learn-btn2{
  padding: 11px 20px 11px 20px;
  background-color: rgb(9, 161, 92);
  border: none;
  cursor: pointer;
  border-radius: 8px;
  color:rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600px;
}

.learn-btn3{
  padding: 11px 20px 11px 20px;
  background-color: rgb(255, 194, 57);
  border: none;
  cursor: pointer;
  border-radius: 8px;
  color:rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600px;
}

.quote{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1432px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  margin: -200px 160px 160px;
  padding: 40px 24px 40px 24px;
}
.dr-yunus{
  background-image: url(../assets/quote-bg.png);
  background-position: top left;
  background-repeat: no-repeat;
}

.para-yunus{
  font-size: 16px;
  font-weight: 400px;
  color: rgba(14, 14, 14, 0.8);
}
.header-name{
  font-size: 20px;
  font-weight: 600px;
  color: rgba(14, 14, 14, 0.8);
}

.last-para{
  font-size: 16px;
  font-weight: 400px;
  color: rgba(14, 14, 14, 0.6);
}

/* news section */
.news-section{
  width: 1480px;
  height: 804px;
  margin: -80px 160px;
}

.satelite{
  margin-bottom: 24px;
  border-radius: 24px;
  background-color:rgb(255, 255, 255);
  display: flex;
  padding: 48px 48px;
  justify-content: center;
  align-items: center;
}

.satelite-info{
 margin-top: -24px;
}
.news>h2{
  font-size: 40px;
  font-weight: 700;
  color: rgb(14, 14, 14);
}

.news>p{
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
}

.satelite-img{
  margin-right: 32px;
  width: 408px;
  height: 306px;
  border-radius: 24px;
}
.satelite-title{
  font-size: 32px;
  font-weight: 700;
  color: rgba(14, 14, 14, 0.8);
}

.satelite-date-time{
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
}
.satelite-data{
  font-size:16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
}
.readmore{
  width: 139px;
  height: 48px;
  background-color: rgb(0, 106, 80);
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.Donate{
  margin: 280px 180px;
  width: 1480px;
  height: 464px;
}

.donate-title{
  font-size: 40px;
  font-weight: 700;
  color: rgb(14, 14, 14);
  text-align: center;
}

.donate-para{
  width: 1104px;
  font-size: 16px;
  margin: -10px auto 30px;
  text-align: center;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(14, 14, 14, 0.8);
  /* height: 128px;
  width: 1071px; */
}
.button > div{
  margin-right: 24px;
}
.one-hundred{
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  height: 128px;
  width: 240px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 16px;
}

.two-hundred{
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  height: 128px;
  width: 240px;
  color: rgba(14, 14, 14, 0.8);
  border: none;
  border-radius: 16px;
  background-color: rgb(198, 228, 214);
}
.five-hundred{
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  height: 128px;
  width: 240px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 16px;
}
.one-thousand{
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  height: 128px;
  width: 240px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 16px;
}

.text-area{
  width: 1032px;
  height: 64px;
}
.input-class{
  display: flex;
  justify-content: center;
}
.other-amount{
  width: 920px;
  height: 64px;
  margin: 40px;
  text-align: center;
}
.done-now{
  display: flex;
  justify-content: center;
}
.last-btn{
  width: 151px;
  height: 56px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 106, 80);
  border: none;
  border-radius: 8px;
}

.subscribe{
  height: 395px;
  width: 1480px;
  border-radius: 24px;
  background: rgb(198, 228, 214);
  margin: -200px 160px 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sub-title{
  font-size: 40px;
  font-weight: 700;
  color: rgb(14, 14, 14);
}

.para-info{
  font-size: 16px;
  font-weight: 400px;
  color: rgba(14, 14, 14, 0.7);
}

#email-id{
  padding-left: 30px;
  border: none;
  border-radius: 8px 0px 0px 8px;
  height: 55px;
  width: 600px;
}

.subs-button{
  height: 56px;
  width: 150px;
  font-size: 18px;
  font-weight: 600px;
  margin:-3px -0px 0px -4px ;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  border-radius: 0px 8px 8px 0px;
  background: rgb(0, 106, 80);
}

.spam{
  font-size: 16px;
  font-weight: 400px;
  color: rgba(14, 14, 14, 0.7);
}
.one-hundred:hover, .two-hundred:hover, .five-hundred:hover, .one-thousand:hover{
  background-color: rgb(255, 194, 57);
}
.universal-button:hover{
  background-color: rgb(84, 144, 245);
}